<header class="header">
<nav>
  <a href="/">
    Foods
  </a>
  <a href="/recipes">
    Recipes
  </a>
  <a href="/public_recipes">
    Public
  </a>

  <a href="/general_shopping_list">
    Shopping
  </a>
</nav>  

  <%= button_to "logout", destroy_user_session_path, method: :delete, class: 'logout'  %>
</header>