.recipe_pulic {
    display: grid;
    grid-template-columns: 2fr 5fr;
    width: 100%;
    border: 1px solid rgba(1, 34, 41, 0.84);
    margin-bottom: 30px;
}

.public_recipe_container {
    display: flex;
    flex-direction: column;
    width: 86%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}